.App {
  text-align: center;
}

.animal-card {
  border: 1px black solid;
  width: 20%;
  margin: 10px;
}

.container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center
}